body{
  background-image: url(img/7-1bg.png);
    /*this height allows us to see the full background picture vertically*/
  height: 2875px;
  /*this width prevents the images from wrapping*/
  width: 1600px;
  background-repeat: no-repeat;
  background-position: 200px 0;
  
}
img{
  /*these properties together allow inline elements on the same row to have independent top and bottom margins/padding*/
  display:inline-block;
  vertical-align: top;
}

/*
Add your CSS to the ID selectors below
*/

#ball{
  padding-left: 215px;
  margin-top: 12px;
}

#turnip{
  padding-left:489px;
  margin-top:193px;
}

#grass{
  padding-left: 47px;
  margin-top:193px;
}

#L{
  padding-left:292px;
  margin-top:1358px;
}

#T{
  padding-left:96px;
  margin-top:1458px;
}

#I{
  padding-left:295px;
  margin-top:1358px;
}